In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [5]:
pd.options.display.max_columns=100

In [6]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

### Data Preparation

In [9]:
df.Attrition = df.Attrition.apply(lambda x : 1 if x == "Yes" else 0)

In [12]:
df = pd.get_dummies(df, drop_first=True)

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
train_df, test_df = train_test_split(df, train_size=0.75)

In [17]:
x_train = train_df.drop(columns="Attrition")
y_train = train_df.Attrition

x_test = test_df.drop(columns="Attrition")
y_test = test_df.Attrition

In [18]:
x_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
1145,36,559,12,4,1,1614,3,76,3,2,3,4663,12421,9,12,3,2,80,2,7,2,3,3,2,1,1,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1
1434,52,585,29,4,1,2019,1,40,3,1,4,3482,19788,2,15,3,2,80,2,16,3,2,9,8,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
797,26,1330,21,3,1,1107,1,37,3,1,3,2377,19373,1,20,4,3,80,1,1,0,2,1,1,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0
624,53,661,7,2,1,862,1,78,2,3,4,10934,20715,7,18,3,4,80,1,35,3,3,5,2,0,4,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1
371,29,1283,23,3,1,495,4,54,3,1,4,2201,18168,9,16,3,4,80,0,6,4,3,3,2,1,2,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0

### Modelling

In [20]:
import xgboost as xgb

In [22]:
model = xgb.XGBClassifier()

In [25]:
model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [27]:
from sklearn.metrics import classification_report, plot_roc_curve, accuracy_score

In [29]:
accuracy_score(y_train, model.predict(x_train))

1.0

In [30]:
accuracy_score(y_test, model.predict(x_test))

0.8614130434782609

#### The model is overfitting because it is showing 100% accuracy on train data and only 86% on test data.

### Hyperparameter Tuning

In [31]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

#### RandomSearchCV

In [57]:
params = {
    "learning_rate" : [0, 0.1, 0.2, 0.3],
    "reg_alpha" : [0, 0.1, 0.2, 0.3],
    "reg_lambda" : [0, 0.1, 0.2, 0.3]
}

model_basic = xgb.XGBClassifier()

rscv = RandomizedSearchCV(estimator=model_basic,
                         param_distributions=params,
                         scoring="accuracy",
                         cv=4,
                         n_jobs=-1)

In [58]:
rscv.fit(x_train, y_train)

RandomizedSearchCV(cv=4,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, gamma=None,
                                           gpu_id=None, grow_policy=None,
                                           importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate=None, max_bin=None,...
                                           max_delta_step=None, max_depth=None,
                                           max_leaves=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_estimators=100, n_jobs=None,
                                           num_parallel_tree=None,
                                           predictor=None, random_state=None,
                                           reg_alpha=None, reg_lambda=None, ...),
                   n_jobs=-1,
                   param_distributions={'learning_rate': [0, 0.1, 0.2, 0.3],
                                        'reg_alpha': [0, 0.1, 0.2, 0.3],
                                        'reg_lambda': [0, 0.1, 0.2, 0.3]},
                   scoring='accuracy')

In [59]:
model_best = rscv.best_estimator_

In [60]:
model_best.get_params()

{'objective': 'binary:logistic',
 'use_label_encoder': False,
 'base_score': 0.5,
 'booster': 'gbtree',
 'callbacks': None,
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'early_stopping_rounds': None,
 'enable_categorical': False,
 'eval_metric': None,
 'gamma': 0,
 'gpu_id': -1,
 'grow_policy': 'depthwise',
 'importance_type': None,
 'interaction_constraints': '',
 'learning_rate': 0.2,
 'max_bin': 256,
 'max_cat_to_onehot': 4,
 'max_delta_step': 0,
 'max_depth': 6,
 'max_leaves': 0,
 'min_child_weight': 1,
 'missing': nan,
 'monotone_constraints': '()',
 'n_estimators': 100,
 'n_jobs': 0,
 'num_parallel_tree': 1,
 'predictor': 'auto',
 'random_state': 0,
 'reg_alpha': 0.1,
 'reg_lambda': 0.2,
 'sampling_method': 'uniform',
 'scale_pos_weight': 1,
 'subsample': 1,
 'tree_method': 'exact',
 'validate_parameters': 1,
 'verbosity': None}

In [61]:
accuracy_score(y_train, model_best.predict(x_train))

1.0

In [62]:
accuracy_score(y_test, model_best.predict(x_test))

0.8777173913043478

#### There is a slight improvement in the model performance due to RandomizedSearchCV.

#### GridSearchCV

In [46]:
params = {
    "learning_rate" : [0, 0.1, 0.2, 0.3],
    "reg_alpha" : [0, 0.1, 0.2, 0.3],
    "reg_lambda" : [0, 0.1, 0.2, 0.3]
}

model_basic = xgb.XGBClassifier()

gscv = GridSearchCV(estimator=model_basic,
                   param_grid=params,
                   scoring="accuracy",
                   n_jobs=-1,
                   cv=4)

In [47]:
gscv.fit(x_train, y_train)

GridSearchCV(cv=4,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     gamma=None, gpu_id=None, grow_policy=None,
                                     importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None, max_bin=None,
                                     max_ca...
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=None,
                                     num_parallel_tree=None, predictor=None,
                                     random_state=None, reg_alpha=None,
                                     reg_lambda=None, ...),
             n_jobs=-1,
             param_grid={'learning_rate': [0, 0.1, 0.2, 0.3],
                         'reg_alpha': [0, 0.1, 0.2, 0.3],
                         'reg_lambda': [0, 0.1, 0.2, 0.3]},
             scoring='accuracy')

In [48]:
model_best = gscv.best_estimator_

In [49]:
accuracy_score(y_train, model_best.predict(x_train))

1.0

In [50]:
accuracy_score(y_test, model_best.predict(x_test))

0.8777173913043478

#### GridSearchCV also found the same set of hyperparameters the best one.